ADMIN_PUBLIC_URL=http://localhost:8080
STAGING_HTTP_PORT=8080
POSTGRES_USER=question_bank
POSTGRES_PASSWORD=GENERATED_BY_START_SCRIPT
POSTGRES_DB=question_bank_staging
REDIS_PASSWORD=GENERATED_BY_START_SCRIPT
JWT_ACCESS_SECRET=GENERATED_BY_START_SCRIPT
JWT_REFRESH_SECRET=GENERATED_BY_START_SCRIPT
PROVIDER_CREDENTIALS_MASTER_KEY=GENERATED_BY_START_SCRIPT
CORS_ORIGINS=http://localhost:8080
INTELLIGENT_SERVICES_ENABLED=true
GOOGLE_AUTH_ENABLED=false
GOOGLE_CLIENT_ID=
FCM_ENABLED=false
OCR_ENABLED=true
OCR_LANGUAGES=eng
VECTOR_DIMENSIONS=1536
EMBEDDING_BATCH_SIZE=16
DOCUMENT_WORKER_CONCURRENCY=2
QUESTION_IMPORT_ENABLED=false
